<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
</head>
<style>
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para las tarjetas de películas */
.movie-card {
  margin: 20px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px; /* Ajusta el ancho según tus preferencias */
}

.movie-card img {
  max-width: 100%;
  height: auto;
}
</style>
<body>
    <div id="app">
        <h1>Listado de Películas</h1>
        <ul>
            <li v-for="movie in movies" :key="movie.id">{{ movie.title }}</li>
        </ul>
    </div>
    <div id="app2">
        <div class="movie-list">
          <div v-for="movie in movies" class="movie-card">
            <img :src="'https://image.tmdb.org/t/p/w220_and_h330_face/' + movie.poster_path" alt="Poster de {{ movie.title }}" />
            <h2>{{ movie.title }}</h2>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="movies.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                movies: [],
            },
            created() {
                const apiKey = 'fcee60ab977b95184902878571d03a39';
                const accessToken = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmY2VlNjBhYjk3N2I9NTE4NDkwMjg3ODU3MWQwM2EzOSIsInN1YiI6IjY1MTRiNzhlMWRiNjVkMDBlMzFiZTJiMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.UALL50lRScUMMKBPzfd5_XLnmMevzogL6aTQAwRQNBI';

                fetch(`https://api.themoviedb.org/3/movie/popular?api_key=${apiKey}`, {
                    method: 'GET',
                    headers: {
                        Authorization: `Bearer ${accessToken}`,
                    },
                })
                .then((response) => response.json())
                .then((data) => {
                    this.movies = data.results;
                })
                .catch((error) => console.error('Error fetching movies:', error));
            }
        });

        // Reemplaza 'collectionId' con el ID de la colección que deseas obtener
        const collectionId = 'collection_id_aqui';
        fetch(`https://api.themoviedb.org/3/collection/${collectionId}/images?api_key=${apiKey}`, {
            method: 'GET',
            headers: {
                Authorization: `Bearer ${accessToken}`,
            },
        })
        .then((response) => response.json())
        .then((data) => {
            // 'data' ahora contiene las imágenes de la colección
            // Puedes procesar 'data' y mostrar las imágenes en tu página
        })
        .catch((error) => console.error('Error fetching collection images:', error));
    </script>
</body>
</html>