<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 11</title>
</head>
<body style="background-color: gray;">
    <div class="container" id="container_app">

        <form>

            <fieldset>
                <legend>Email</legend>
                <input type="text" v-model="email" placeholder="Write here" name="">
            </fieldset>

            <fieldset>
                <legend>Password</legend>
                <input type="password" v-model="password" placeholder="Write here" name="">
            </fieldset>
            <br>
            <button type="button" @click="login">Access</button>

        </form>

    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script type="text/javascript">

        const { createApp, ref } = Vue;
        createApp({
            data() {
                return {
                    email: '',
                    password: '',
                    loginError: false, 
                };
            },
            methods: {
                async login() {
                    const response = await fetch('usuarios.json');
                    const users = await response.json();
                    const user = users.find(user => user.email === this.email && user.password === this.password);

                    if (user) {
                        alert('Exito el iniciar sesion');
                    } else {
                        alert('Tu email o password es incorrecta intentalo de nuevo');
                    }
                }
            }
        }).mount("#container_app");

    </script>

</body>

</html>





